* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

html, body {
    min-height: 100%;
}

/* thanks to cssgradient.io */
body {
    background: rgb(180,6,131);
    background: linear-gradient(90deg, rgba(180,6,131,1) 0%, rgba(48,22,82,0.9620958201892744) 100%);
    font-family: "Open Sans";
}

p {
    margin: 16px auto;
    line-height: 1.5em;
}

.layout {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    display: grid;  
    grid-template-columns: 1fr 1fr;
    margin: 40px auto;
}

nav .links {
    display: inline-block;
    text-align: right;
}

nav a {
    display: inline-block;
    margin-left: 20px;
    font-weight: 400;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
}

nav a:hover {
    border-color: white;
}

footer p {
    text-align: center;
    color: wheat;
    margin: 40px auto;
}