.portfolio {
    text-align: center;
}

.portfolio > h2 {
    font-size: 3em;
    margin-top: 80px;
}

.portfolio > h3 {
    font-size: 2em;
    font-weight: 400;
}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    margin: 80px 20px;
}

.project {
    border: 2px solid black;
    border-radius: 6px;
    padding: 20px 20px;
    background: #111112;
}

.image {
    border-radius: 6px;
}

.projects h3 {
    text-align: center;
    margin: 20px auto 0;
    font-weight: 500;
}

.projects p {
    color: #ccc;
    margin-top: 4px;
}

.project:hover {
    opacity: 0.6;
}